<div class="container mt-3">
    <dic class="row">
        <div class="col text-center">
            <img src="img/pp_notion.jpg" alt="Mentari" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Mentari ER</h1>
            <p class="lead">Backend Developer | Student</p>
        </div>
    </dic>
</div>