<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Contact</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">No HP</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mentari</td>
                    <td>08356747447</td>
                    <td><a href="" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>